<footer id="footer">
  <div class="container">
    <div class="pull-sm-left">
      <nav class="nav nav-inline">
        <a class="nav-link" href="#">Contact</a>
        <a class="nav-link" href="http://ruby.org.au/code-of-conduct.html">Code of Conduct</a>
      </nav>
    </div>

    <div class="pull-sm-right">
      <nav class="nav nav-inline">
        <a class="nav-link" href="#">
          <i class="fa fa-twitter fa-2x fa-fw"></i>
        </a>
        <a class="nav-link" href="#">
          <i class="fa fa-github fa-2x fa-fw"></i>
        </a>
        <div class="nav-item footer-copyright">
           Header image &copy; John Sexton // &copy; 2016 RailsCamp Adelaide.
        </div>
      </nav>
    </div>
  </div>
</footer>
