<section id="hero" class="bg-hills overlay">
  <div class="container">
    <h5 class="heading-info">
      <span class="info-location">
        <i class="fa fa-map-marker fa-fw"></i>
        Mylor, South Australia
      </span>

      <span class="info-date">
        <i class="fa fa-calendar-o fa-fw"></i>
        July 8-11
      </span>
    </h5>
    <h1 class="heading">Rails Camp Adelaide</h1>
    <h6 class="tagline">
      A full weekend retreat for web developers
    </h6>
    <div class="btn-container">
      <a href="#tickets" class="btn-buy btn btn-primary">
        Get Tickets
      </a>
    </div>
  </div>
</section>
