<section id="info" class="section">
  <div class="container">
    <h3 class="section-heading">
      About <span class="text-primary">#RailsCampAdl</span>
    </h3>

    <p>
      Rails Camp is a full weekend retreat for people interested in web development to gather and be awesome together. People attend for a variety of reasons: socialising, hacking, learning, teaching, drinking, gaming, and more. Though there is a focus on Ruby, we welcome anyone interested in programming or web technologies to join us.
    </p>
  </div>
</section>
