<section id="location">
  <div class="container map-info-container">
    <div class="map-info">

      <ul>
        <li>
          <i class="fa fa-map-marker fa-fw"></i>
          <%= link_to '32 Wingrove Rd, Mylor SA 5153', 'https://www.google.com.au/maps?hl=en&q=32+Wingrove+Rd,+Mylor+SA+5153' %>
        </li>
        <li>
          <i class="fa fa-calendar-o fa-fw"></i>
          July 8th to 11th
        </li>
      </ul>
    </div>
  </div>
  <div class="location-map"></div>

</section>
