$montserrat:                  'Montserrat', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$open-sans:                   'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$roboto:                      'Roboto', Arial, 'Helvetica Neue', Helvetica, sans-serif;

$font-family-sans-serif:      $roboto;
$headings-font-family:        $roboto;


$brand-primary:                #ff6860;

$btn-border-radius:           3px;

$navbar-border-radius:        0;
